#header {
    display: flex;
    height: 90px;
    padding-left: 4%;
    padding-right: 4%;
    margin: auto;
    width: 1500px;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: space-between;
}

.header-container {
    display: flex;
    position: sticky;
    top: 0;
    height: fit-content;
    width: 100%;
    background-color: white;
    z-index: 10;
}

.nav-menu {
    display: flex;
    flex-direction: row;
}

.nav-menu-item {
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    transition: 200ms;
    color: white;
    height: 2rem;
    height: 100%;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    white-space: nowrap;
    text-decoration: none;
}

.nav-menu-item a {
    text-decoration: none;
    color: black;
}

#nav-menu-contact {
    padding-right: 0;
}

#nav-menu-contact a {
    background-color: var(--test-blue);
    padding: 1rem;
    color: white;
}

#logo {
    display: flex;
    margin: auto;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    align-items: center;
}

.logoo {
    width: 200px;
    height: 75px;
    background-image: url(https://i.imgur.com/n8CHU2Z.png);
    background-size: contain;
    background-repeat: no-repeat;
    align-self: center;
    margin-top: 1.25rem;
}

#hamburger {
    background: none;
    border: none;
    padding: 20px;
    margin-left: 10px;
    cursor: pointer;
    height: 100%;
    display: none;
}

.line {
    width: 23px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.4s;
}

.line:hover {
    transition: 0.2s;
    background-color: var(--main-color);
}

@media (max-width: 768px) {
    .nav-menu {
            display: none;
        }
}

@media (min-width: 768px) { 
    .nav-full-button-container {
        display: flex;
    }
}